.container, .score{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.container {
  height: 70vh;}
.buttons, .score {
  padding: 5%;
  font-size: 2em;
  text-transform: uppercase;
}
