.img,
.container,
.score {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.text {
  text-align: center;
}
img {
  width: 50%;
}
.buttons,
.score {
  padding: 5%;
  font-size: 2em;
  text-transform: uppercase;
}
.buttons {
  background-size: cover;
}

.rock {
  background-image: url("images/rock.png");
}

.paper {
  background-image: url("images/rock.png");
}

.scissors {
  background-image: url("images/rock.png");
}
